/*! locomotive-scroll v3.5.4 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100vh;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* library css */
.horizontal-scroll {
  height: 100vh;
  overflow: hidden;
  display: flex;
  left: 0;
}

.pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 10vw;
}
.pin-wrap > * {
  min-width: 60vw;
  padding: 0 5vw;
}

/* common */
.skipToMain {
  display: block;
  margin-bottom: -1px;
  height: 1px;
  text-align: center;
  overflow: hidden;
}
.skipToMain:focus {
  height: auto;
  margin-bottom: 0;
}

.screenHide {
  position: absolute;
  width: 1px;
  height: 1px;
  line-height: 1px;
  border: 0;
  clip: rect(1px, 1px, 1px 1px);
  overflow: hidden;
}

.in {
  width: 1440px;
  margin: 0 auto;
  padding: 0 12px;
  box-sizing: border-box;
}

.goTop {
  position: fixed;
  bottom: 56px;
  right: 24px;
  width: 36px;
  height: 36px;
  z-index: 99999;
}

.goDown {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 36px;
  height: 36px;
  z-index: 99999;
}

/* cursor customizing */
.cursorCustom {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border: 2px solid #d1d1d1;
  border-radius: 50%;
  background-size: cover;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all 0.3s eaes;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  -webkit-backdrop-filter: sepia(20%);
          backdrop-filter: sepia(20%);
  z-index: 999999;
}

.cursorCustom-active {
  transform: scalc(2);
  background: #d1d1d1;
}

/* header */
.header {
  position: fixed;
  top: 24px;
  left: 24px;
  z-index: 99999;
}
.headerLogo__link {
  display: inline-flex;
  align-items: flex-end;
}
.headerLogo__icon {
  position: relative;
  display: block;
  width: 64px;
  height: 64px;
  background: #222222;
  border-radius: 8px;
}
.headerLogo__icon .mouth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
}
.headerLogo__icon .mouth::before {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 50%;
  background: #222222;
}
.headerLogo__text {
  position: relative;
  display: block;
  margin-left: 26px;
  font-size: 16px;
  line-height: 1em;
  color: #222222;
}
.headerLogo__text::before {
  content: "";
  position: absolute;
  left: -18px;
  bottom: 0;
  width: 10px;
  height: 10px;
  background: #222222;
  border-radius: 50%;
}

/* scrollGage */
.scrollGage {
  position: fixed;
  top: 24px;
  right: 64px;
}
.scrollGage__percen {
  display: block;
  font-size: 16px;
}
.scrollGage__bar {
  display: block;
  height: 16px;
  background: #ddd;
}

/* nav, gnb */
.nav {
  position: fixed;
  left: 0;
  top: 0;
}
.nav__btn--open {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  background-color: transparent;
}
.nav__btn--open::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 5px;
  width: 30px;
  height: 3px;
  background: #222222;
  box-shadow: 0 10px 0 #222222, 0 20px 0 #222222;
}

/* footer */
.footer {
  padding: 96px 0;
  font-family: "Montserrat";
  background: linear-gradient(180deg, #EE92A2, #FF6488);
  overflow: hidden;
}
.footer__sbj {
  display: block;
  font-weight: bold;
  font-style: italic;
  font-size: 96px;
  line-height: 128px;
  color: #ffffff;
  white-space: nowrap;
  will-change: transform;
  -webkit-animation: moving 30s linear infinite;
          animation: moving 30s linear infinite;
}
.footer__info {
  margin-bottom: 192px;
}
.footer__info .list__item {
  margin: 16px;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}
.footer__info .list__tit {
  margin-right: 52px;
}

@-webkit-keyframes moving {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes moving {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}