/* visual */
.visual h2 {
  font-family: "Montserrat";
}
.visual .in {
  position: relative;
}
.visual__tit {
  position: absolute;
  top: 196px;
  left: 24px;
  z-index: 1;
}
.visual__tit h2 {
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 1.2em;
  color: #222222;
}
.visual__tit--move {
  display: inline-block;
  padding: 0 24px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  color: #ffffff;
  background: #2EA34E;
  border-radius: 40px;
}
.visual__sbj {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 730px;
  font-weight: bold;
  font-style: italic;
  font-size: 6vw;
  line-height: 1em;
  color: #222222;
  text-transform: uppercase;
  white-space: nowrap;
  transform: rotate(-6deg);
}
.visual__sbj-move span {
  position: relative;
  display: inline-block;
  padding: 0 2.5vw;
}
.visual__sbj-move span::before {
  content: "";
  position: absolute;
  left: -1%;
  bottom: -5%;
  width: 13%;
  height: 50%;
  background: #D42532;
  transform: rotate(-10deg);
  opacity: 0.5;
  z-index: -1;
}
.visual__sbj-move span::after {
  content: "";
  position: absolute;
  right: -1%;
  bottom: -5%;
  width: 47%;
  height: 50%;
  background-color: #dddddd;
  opacity: 0.5;
  z-index: -1;
}
.visual__emoji {
  position: relative;
  margin: -30% 0 0 auto;
  width: 1440px;
  height: 1073px;
  z-index: 0;
}
.visual__emoji img {
  max-width: 100%;
}
.visual__emojiBg, .visual__emojiItem, .visual__emojiCircle {
  position: relative;
}
.visual__emojiBg > span, .visual__emojiItem > span, .visual__emojiCircle > span {
  position: absolute;
  top: 0;
  right: 0;
}

/* main cate */
.mainCate {
  padding: 96px 0;
  overflow-x: hidden;
}
.mainCate h2 {
  margin-bottom: 64px;
  font-family: "Fredoka";
  font-weight: 600;
  font-size: 4vw;
  line-height: 1.2em;
  color: #222222;
  text-align: center;
}
.mainCate h2 .highlight {
  color: #4BEBC9;
}
.mainCate__listWrap {
  display: flex;
  width: 100vw;
  max-width: 1400px;
  margin: 0 auto;
}
.mainCate .list {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-gap: 24px;
  white-space: nowrap;
}
.mainCate .list__item {
  position: relative;
  aspect-ratio: 67/100;
  width: 25vw;
  height: 100%;
  border-radius: 32px;
  overflow: hidden;
}
.mainCate .list__item img {
  width: 100%;
  height: auto;
}
.mainCate .list__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mainCate .list__icon img {
  width: 100%;
  height: auto;
}
.mainCate .list__tit {
  position: absolute;
  bottom: 10vw;
  width: 100%;
  font-size: 2.5vw;
  line-height: 1.2em;
  text-align: center;
}
.mainCate .list__item:nth-child(5n-4) .list__tit {
  color: #D05FE5;
}
.mainCate .list__item:nth-child(5n-3) .list__tit {
  color: #FFE30D;
}
.mainCate .list__item:nth-child(5n-2) .list__tit {
  color: #89DE07;
}
.mainCate .list__item:nth-child(5n-1) .list__tit {
  color: #41E0EB;
}
.mainCate .list__item:nth-child(5n) .list__tit {
  color: #F06B67;
}

/* main work */
.mainWork__tit {
  margin-left: 24px;
  margin-bottom: 3vw;
  font-family: "Fredoka";
  font-weight: 600;
  font-size: 4vw;
  line-height: 1.2em;
  color: #222222;
}
.mainWork__tit .highlight {
  color: #89DE07;
}
.mainWork .list {
  width: 100%;
}
.mainWork .list__tit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  height: 48px;
  line-height: 48px;
  background: #ffffff;
  border-top: 1px solid #555555;
  box-sizing: border-box;
}
.mainWork .list__tit > span {
  flex: 1;
  font-weight: 400;
  font-size: 16px;
  color: #555555;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mainWork .list__tit > span:nth-child(1) {
  text-align: left;
}
.mainWork .list__tit > span:nth-child(2) {
  text-align: center;
}
.mainWork .list__tit > span:nth-child(3) {
  text-align: right;
}
.mainWork .list__item {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.mainWork .list__thumb {
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.mainWork .list__thumb img {
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainWork .list__img {
  display: block;
  max-width: inherit;
  height: 100vh;
  background-position: 50%;
  background-size: cover;
}

.mainSite {
  overflow: hidden;
  box-sizing: border-box;
}
.mainSite__tit {
  width: 1440px;
  margin: 0 auto;
  padding-top: 96px;
  font-family: "Fredoka";
  color: #ffffff;
  font-size: 64px;
  line-height: 1.2em;
  text-align: right;
}
.mainSite .list {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10vw;
}
.mainSite .list__item {
  display: flex;
  align-items: center;
  margin-right: 128px;
}
.mainSite .list__contents {
  width: 500px;
  padding: 24px;
}
.mainSite .list__desc {
  font-size: 24px;
  color: #ffffff;
}
.mainSite .list__sbj {
  display: inline-block;
  margin-right: 24px;
}

/* mainCode */
.mainCode {
  padding: 96px 0;
}
.mainCode__header {
  display: flex;
  align-items: center;
  margin: 0 auto 96px;
  width: 1440px;
  font-family: "Fredoka";
  font-weight: 600;
}
.mainCode__tit {
  width: 50%;
  text-align: right;
  font-size: 4vw;
  line-height: 1.2em;
  color: #222222;
}
.mainCode__tab {
  position: relative;
  width: 50%;
  padding-left: 132px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.mainCode__tab::before {
  content: "";
  position: absolute;
  left: 132px;
  width: 8px;
  height: 100%;
  background: #dddddd;
  border-radius: 8px;
}
.mainCode__tab .tab__item {
  position: relative;
  padding: 8px 8px 8px 64px;
  display: block;
  font-size: 2vw;
  line-height: 1.2em;
  color: #555555;
}
.mainCode__tab .tab__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  height: 100%;
  background: transparent;
  border-radius: 8px;
}
.mainCode__tab .tab__item.active, .mainCode__tab .tab__item:hover {
  color: #FFE30D;
}
.mainCode__tab .tab__item.active::before, .mainCode__tab .tab__item:hover::before {
  background: #FFE30D;
}
.mainCode .list {
  display: grid;
  grid-template-columns: repeat(3, 336px);
  grid-auto-rows: 336px;
  grid-gap: 24px;
  grid-template-areas: "a a b d" "a a c d" "e f f g" "e h i i";
  width: 1440px;
  margin: 0 auto;
}
.mainCode .list__item {
  position: relative;
  border-radius: 32px;
  overflow: hidden;
}
.mainCode .list__tit {
  position: absolute;
  left: 48px;
  top: 48px;
  font-family: "Montserrat";
  font-size: 48px;
  line-height: 1.2em;
  color: #ffffff;
}
.mainCode .list__cate {
  position: absolute;
  left: 48px;
  bottom: 48px;
  font-family: "Montserrat";
  font-size: 24px;
  line-height: 1em;
  color: #ffffff;
}
.mainCode .list__item.item01 {
  grid-area: a;
}
.mainCode .list__item.item02 {
  grid-area: b;
}
.mainCode .list__item.item03 {
  grid-area: c;
}
.mainCode .list__item.item04 {
  grid-area: d;
}
.mainCode .list__item.item05 {
  grid-area: e;
}
.mainCode .list__item.item06 {
  grid-area: f;
}
.mainCode .list__item.item07 {
  grid-area: g;
}
.mainCode .list__item.item08 {
  grid-area: h;
}
.mainCode .list__item.item08 {
  grid-area: i;
}
.mainCode .list__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* mainProfile */
.mainProfile {
  position: relative;
}
.mainProfile .textWrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  overflow: visible;
  z-index: 2;
}
.mainProfile .textWrap path {
  stroke: rgba(255, 255, 255, 0.5);
}
.mainProfile .textWrap textPath {
  position: relative;
  font-family: "Montserrat";
  font-size: 1.5em;
  font-weight: bold;
  color: #ff7896;
  filter: currentColor;
}
.mainProfile .imgWrap {
  width: 1440px;
  margin: 0 auto;
}
.mainProfile .img {
  position: relative;
  width: 35%;
  margin: 0 0 0 auto;
}
.mainProfile .img__left {
  z-index: 3;
}
.mainProfile .img__right {
  top: -100px;
  right: 30%;
  z-index: 1;
}
.mainProfile .img img {
  width: 100%;
  height: auto;
}