@charset "UTF-8";

// variable 
@import 'variable';

@media (max-width: 1440px) {
    
    .mainCode{
     & .list{
            grid-template-columns: repeat(2,1fr);
            grid-gap: 12px;
            grid-auto-rows: auto;
            grid-template-areas:
            "a b"
            "c c"
            "d e"
            "d f"
            "d f"
            "g g"
            "h i"
            "j j";
            width: auto;
        }
    }

    .mainProfile{
        & .imgWrap{
            width: auto;
        }
    }

}

@media (max-width: 860px) {
    .header {
        top: 16px;
        left: 16px;

        &Logo{
            &__icon{
                width: 40px;
                height: 40px;

                & .mouth{
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .nav{
        &__btn{
            &--open{
                left: 16px;
                top: 16px;
            }
        }
    }

    /* main vis */
    .visual{

        &__tit{
            top: 100px;
            
            & h2{
                margin-bottom: 8px;
                font-size: 24px;
            }

            &--move{
                padding: 0 16px;
                height: 36px;
                line-height: 36px;
                font-size: 12px;
            }
        }

        &__sbj{
            height: auto;
            min-height: 600px;
            font-size: 36px;
        }

        &__emoji{
            width: auto;
            height: auto;
            padding-bottom:80%
        }
    }

    .mainWork{

        &__tit{
            font-size: 40px;
        }
    }

    /* main cate*/
    .mainCate{
        padding: 48px 0;

        h2{
            margin-bottom: 32px;
            font-size: 40px;
        }

        & .list{
            grid-column-gap: 16px;

            &__item{
                width: 300px;
            }

            &__tit{
                bottom: 110px;
                font-size: 32px;
            }
        }
    }

    .mainSite{
        &__tit{
            padding: 48px 24px 0px 24px;
            width: auto;
            font-size: 40px;
        }

        & .list{
            padding: 0 24px;
            height: auto;

            &__item{
                flex-direction: column;
                margin: 24px 0;
            }

            &__contents{
                width: auto;
            }

            &__desc{
                font-size: 16px;
            }

            &__thumb{
                
                &img{
                    width: 100%;
                }
            }
        }
    }

    .mainCode{
        padding: 48px 24px;

        &__header{
            margin: 0 auto 32px;
            width: auto;
        }

        & .list{

            &__tit{
                top: 24px;
                left: 24px;
                font-size: 24px;
            }

            &__cate{
                left: 24px;
                bottom: 24px;
                font-size: 16px;
            }
            
        }
    }


    .footer{
        padding: 48px 0;

        &__sbj{
            font-size: 48px;
            line-height: 64px;
        }

        &__info{
            margin: 16px 24px 96px;

            & .list {
                &__tit{
                    display: block;
                    margin-right: 0px;
                }
                &__item{
                    margin: 8px;
                    font-size: 16px;
                    line-height: 1em;
                }
            }
        }
    }
   
    
}

@media (max-width: 320px) {
    
}