@charset "UTF-8";

// variable 
$tit__lev01 : 12px;
$tit__lev02 : 12px;
$tit__lev03 : 12px;
$tit__lev04 : 12px;
$tit__lev05 : 12px;
$tit__lev06 : 12px;

$black222 : #222222;
$block555 : #555555;
$whitefff : #ffffff;
$whiteFff : $whitefff;
$greyddd : #dddddd;
$greyDdd : $greyddd;
$purpleD05: #D05FE5;

$font__first : 'IBM Plex Sans KR';
$font__second: 'Montserrat';
$font__third : 'Fredoka';

$in : 1440px;